@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --white: #FFF;
      --primary: #1c88ec;
}

body {
      font-family: "Outfit", sans-serif;
      background-image: url('/bg_clima.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      color: var(--white);
      font-size: 2rem;
}